@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --white-color: #fff;
  --black-color: #001c2b;
  --gray-color: #fafafa;
  --gray-color02: #ccc;
  --gray-color03: #f2f2f2;
  --gray-color04: #707070;
  --primary-color: #ffbb1e;
  --accent-color: #ff9158;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 936px;
  --content-width-lg: 1080px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-page-top: 50;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

body {
  color: var(--black-color);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.1em;
}

/* ---------- utility ---------- */

@media screen and (min-width: 375px) {
  .u_sm-dn {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .u_lg-dn {
    display: none;
  }
}

/* ---------- layout ---------- */
.l_container-sm,
.l_container-lg,
.l_container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 120px 0;
}

.l_page-main {
  padding-top: 120px;
}


.l_header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  width: 100%;
  height: 120px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .l_header {
    padding: 0 56px;
  }
}

.l_header-logo {
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.l_header-logo_link {
  display: block;
}

.l_header-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal);
  background: var(--black-color);
}

@media screen and (min-width: 1080px) {
  .l_header-nav {
    opacity: 1;
    position: static;
    background: transparent;
  }
}

.l_header-nav_list {
  display: flex;
  gap: 56px;
  flex-direction: column;
  align-items: center;
  top: 5%;
    right: 84%;
    position: absolute;
    text-align: center;
  height: 100%;
}

@media screen and (min-width: 1080px) {
  .l_header-nav_list {
    height: auto;
    flex-direction: row;
  }
}

.l_header-nav_item {
  color: var(--white-color);
  font-size: 14px;
}

.l_header-nav_link {
  display: block;
}
.l_footer {
  padding: 64px 0 24px;
}

@media screen and (min-width: 1080px) {
  .l_footer {
    padding: 64px 0 40px;
  }
}

@media screen and (min-width: 1080px) {
  .l_footer_contents {
    display: flex;
    justify-content: space-between;
    padding: 0 56px;
  }
}

.l_footer-logo {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .l_footer-logo {
    text-align: left;
  }
}

.l_footer_address {
  font-size: 14px;
  margin-top: 64px;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .l_footer_address {
    text-align: left;
    margin-top: 24px;
  }
}

.l_footer-nav {
  margin-top: 64px;
}

@media screen and (min-width: 1080px) {
  .l_footer-nav {
    margin-top: 0;
  }
}

.l_footer-nav_list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

@media screen and (min-width: 1080px) {
  .l_footer-nav_list {
    width: 100%;
    flex-direction: row;
  }
}

.l_footer-nav_item {
  font-size: 14px;
}

.l_footer-nav_link {
  display: flex;
  align-items: center;
}

.l_footer-copyright {
  text-align: center;
  margin-top: 64px;
}

.l_footer-copyright_txt {
  font-size: 14px;
  letter-spacing: 0;
}

/*---------- module ----------*/
.m_opening {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-modal);
  background: #111;
  display: flex;
}

.m_opening_txt {
  text-align: center;
  margin: auto;
}

.m_opening_heading {
  color: var(--white-color);
  font-size: 40px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .m_opening_heading {
    font-size: 56px;
  }
}

.m_opening_desc {
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
}

.m_hamburger {
  display: block;
  width: 32px;
  height: 28px;
  position: relative;
  z-index: var(--z-index-modal);
  border: none;
  background: transparent;
}

@media screen and (min-width: 1080px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  background: var(--white-color);
}

.m_hamburger-bar:nth-child(1) {
  top: 0;
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.m_hamburger-bar:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

.m_btn-wrapper {
  width: 280px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}

.m_btn {
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_btn__cta {
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(
    0,
    var(--accent-color),
    var(--primary-color)
  );
}

.m_btn__cta::after {
  content: url(../img/icon_email.svg);
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.m_btn__more {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  background: var(--white-color);
  position: relative;
  z-index: var(--z-index-default);
  cursor: pointer;
}

.m_btn__more::before {
  content: "";
  width: 8px;
  height: 8px;
  border-width: 2px;
  border-style: solid solid none none;
  border-color: var(--primary-color);
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%) rotate(45deg);
}

.m_cta {
  padding: 94px 0;
  background: linear-gradient(rgba(0, 28, 43, 0.3), rgba(0, 28, 43, 0.3)),
    url("../img/bg_cta.jpg");
}

@media screen and (min-width: 768px) {
  .m_cta {
    padding: 96px 0;
  }
}

.m_cta_copy {
  color: var(--white-color);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.m_cta_txt {
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .m_cta_txt {
    font-size: 18px;
  }
}

.m_cta_btn-wrapper {
  margin-top: 48px;
}

.m_kv {
  height: 400px;
  color: var(--white-color);
  position: relative;
  background: linear-gradient(rgba(0, 28, 43, 0.3), rgba(0, 28, 43, 0.3)),
    url("../img/bg_kv.jpg") center/cover;
}

@media screen and (min-width: 768px) {
  .m_kv {
    background-position-x: center;
  }
}

.m_kv_contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m_kv_title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.m_kv_title:before {
  width: 100%;
  font-size: 48px;
  color: rgba(255, 187, 30, 0.6);
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-back);
}

@media screen and (min-width: 768px) {
  .m_kv_title:before {
    font-size: 64px;
    bottom: 8px;
  }
}

.m_kv_title__about::before {
  content: "ABOUT US";
}

.m_kv_title__service::before {
  content: "SERVICE";
}

.m_kv_title__case::before {
  content: "CASE";
}

.m_kv_title__contact::before {
  content: "CONTACT";
}

.m_kv_desc {
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
}

.m_page-section-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.m_section_title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .m_section_title {
    font-size: 32px;
  }
}

.m_section_title:before {
  width: 100%;
  font-size: 48px;
  color: rgba(255, 187, 30, 0.6);
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-default);
}

@media screen and (min-width: 768px) {
  .m_section_title:before {
    font-size: 64px;
    bottom: 8px;
  }
}

.m_section_title__about::before {
  content: "ABOUT US";
}

.m_section_title__service::before {
  content: "SERVICE";
}

.m_section_title__case::before {
  content: "CASE";
}

/*---------- top ----------*/

.top_kv {
  height: 100vh;
  /* background: linear-gradient(rgba(0, 28, 43, 0.3), rgba(0, 28, 43, 0.3)),
    url("../img/bg_kv.jpg") 70% center/cover; */
  background: linear-gradient(rgba(0, 28, 43, 0.3), rgba(0, 28, 43, 0.3));
  position: relative;
}

.top_kv_contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top_kv_sub-copy {
  color: var(--white-color);
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 2px rgba(170, 170, 170, 0.16);
}

@media screen and (min-width: 768px) {
  .top_kv_sub-copy {
    font-size: 18px;
  }
}

.top_kv_copy {
  color: var(--white-color);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(170, 170, 170, 0.16);
}

@media screen and (min-width: 768px) {
  .top_kv_copy {
    font-size: 48px;
  }
}

.top_kv_btn-wrapper {
  margin: 32px 0 0;
}

@media screen and (min-width: 500px) {
  .top_kv_btn-wrapper {
    text-align: left;
  }
}

.top_kv-scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 32px;
  left: 50%;
  z-index: var(--z-index-default);
  transform: translateX(-50%);
}

.top_kv-scroll-down_txt {
  color: var(--white-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.top_kv-scroll-down_arrow {
  width: 8px;
  height: 8px;
  border-color: var(--white-color);
  border-width: 2px;
  border-style: none solid solid none;
  transform: rotate(45deg);
}

.top_kv-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-back);
}

.top_kv-slideshow_slide_img {
  object-fit: cover;
  height: 100%;
}

.top_about_body {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .top_about_contents {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.top_about_txts {
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .top_about_txts {
    margin-top: 0;
    width: 50%;
    order: 1;
  }
}
.top_about_heading {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (min-width: 1080px) {
  .top_about_heading {
    font-size: 32px;
  }
}

.top_about_desc {
  margin-top: 48px;
}

.top_about_img-wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {
  .top_about_img-wrapper {
    width: 40%;
    max-width: 392px;
    height: 40%;
    max-height: 294px;
  }
}

.top_about_img-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: var(--z-index-back);
  background-image: linear-gradient(
    0,
    var(--accent-color),
    var(--primary-color)
  );
}

@media screen and (min-width: 768px) {
  .top_about_img-wrapper::before {
    top: 24px;
    left: 24px;
  }
}

.top_about_btn-wrapper {
  margin-top: 64px;
}

.top_service {
  background: var(--gray-color);
}

.top_service_body {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .top_service_desc {
    text-align: center;
  }
}

.m_service_contents {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

@media screen and (min-width: 1080px) {
  .m_service_contents {
    margin-top: 64px;
    gap: 48px 0;
  }
}

.m_service_item {
  width: calc((100% - 24px) / 2);
  justify-content: space-between;
  gap: 48px 0;
}

@media screen and (min-width: 768px) {
  .m_service_item {
    width: calc((100% - 24px * 2) / 3);
  }
}

@media screen and (min-width: 1080px) {
  .m_service_item {
    width: calc(100% / 3);
  }
}

.m_service_item__circle {
  width: 96px;
  height: 96px;
  margin: auto;
  border: 4px solid var(--primary-color);
  border-radius: 100vh;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1080px) {
  .m_service_item__circle {
    width: 160px;
    height: 160px;
  }
}

.m_service_item_icon-wrapper {
  width: 56px;
  height: 56px;
}

@media screen and (min-width: 1080px) {
  .m_service_item_icon-wrapper {
    width: 96px;
    height: 96px;
  }
}

.m_service_item_name {
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .m_service_item_name {
    font-size: 18px;
    margin-top: 24px;
  }
}

.top_service_btn-wrapper {
  margin-top: 64px;
}

.top_case_body {
  margin-top: 64px;
  overflow: hidden;
}

.top_case_btn-wrapper {
  margin-top: 80px;
}

.top_case_list-wrapper {
  position: relative;
  max-width: var(--content-width-lg);
}

@media screen and (min-width: 1080px) {
  .top_case_list-wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: auto;
  }
}

@media screen and (min-width: 1080px) {
  .top_case_item {
    padding: 0 12px;
  }
}

.top_case_item_txt {
  padding: 24px 16px;
}

.top_case_item_heading {
  font-size: 18px;
  font-weight: bold;
}

.top_case_nav {
  width: 53px;
  height: 53px;
  background: #fff;
  border-radius: 100vh;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -40px;
  top: auto;
}

.top_case_nav__prev {
  left: auto;
  right: calc(50% + 96px);
}

.top_case_nav__next {
  left: calc(50% + 96px);
  right: auto;
}

.top_case_nav__prev:after,
.top_case_nav__next:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-top: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
  top: 50%;
  left: 50%;
}

.top_case_nav__prev:after {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.top_case_nav__next:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.top_case_dots {
  position: absolute;
  left: 50% !important;
  bottom: -24px !important;
  transform: translateX(-50%);
  width: 96px !important;
  height: 16px;
  display: flex;
  justify-content: space-between;
}

.top_case_dots .swiper-pagination-bullet {
  background: var(--gray-color04);
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  color: transparent;
  border: 2px solid var(--white-color);
}

.top_case_dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--accent-color);
}

/*---------- service ----------*/

.service_contents {
  padding-bottom: 120px;
}

@media screen and (min-width: 1080px) {
  .service_contents .m_service_contents {
    margin-top: 48px;
  }
}

.service_contents_desc {
  text-align: center;
  margin-top: 64px;
}

/* .service_contents_list {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px 0;
}

.service_contents-item {
  width: 46%;
  margin-top: 80px;
}

@media screen and (min-width: 500px) {
  .service_contents-item {
    width: 50%;
    max-width: none;
  }
}

@media screen and (min-width: 768px) {
  .service_contents-item {
    width: 33.3333333333%;
  }
}

.service_contents-item_icon-wrapper {
  width: 64%;
  padding: 12%;
  margin: 0 auto;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  background: var(--white-color);
}

@media screen and (min-width: 500px) {
  .service_contents-item_icon-wrapper {
    padding: 30px;
  }
}

@media screen and (min-width: 768px) {
  .service_contents-item_icon-wrapper {
    width: 160px;
  }
}

.service_contents-item_icon {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.service_contents-item_name {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .service_contents-item_name {
    font-size: 18px;
    margin-top: 24px;
  }
} */

.service_faq {
  padding: 120px 0;
  background: var(--gray-color);
}

.service_faq_body {
  margin-top: 64px;
}

.service_faq_unit {
  border-radius: 6px;
  background: var(--white-color);
  border: 1px solid var(--gray-color02);
  overflow: hidden;
}

.service_faq_unit:not(:first-child) {
  margin-top: 48px;
}

.service_faq-question {
  padding: 16px;
  display: flex;
  width: 100%;
}

.service_faq-question_tag {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.service_faq-question_txt {
  font-weight: bold;
  margin-left: 16px;
  width: 100%;
}

.service_faq-question_mark {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  margin: auto 0 auto 8px;
}

.service_faq-question_mark::before {
  content: "";
  width: 16px;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* コード上だと全てプラスマークになっていますがJavaScriptの授業で切り替えを行います。 */
.service_faq-question_mark::after {
  content: "";
  width: 2px;
  height: 16px;
  background: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service_faq-answer {

  display: flex;
  width: 100%;
  border-top: 1px solid var(--gray-color02);
}

.service_faq-answer_tag {
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: var(--primary-color);
}

.service_faq-answer_txt {
  width: 100%;
  margin-left: 16px;
}

/*---------- about ----------*/

.about_greeting {
  padding-bottom: 120px;
}

.about_greeting_body {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .about_greeting_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about_greeting_txts {
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .about_greeting_txts {
    margin-top: 0;
    width: 50%;
  }
}

.about_greeting_heading {
  font-size: 24px;
  font-weight: bold;
}

.about_greeting_desc {
  margin-top: 48px;
}

.about_greeting_img-wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {
  .about_greeting_img-wrapper {
    width: 42%;
  }
}

.about_greeting_img-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: -8px;
  z-index: var(--z-index-back);
  background-image: linear-gradient(
    0,
    var(--accent-color),
    var(--primary-color)
  );
}

@media screen and (min-width: 768px) {
  .about_greeting_img-wrapper::before {
    top: 24px;
    left: -24px;
  }
}

.about_info {
  padding: 120px 0;
}

.about_info_body {
  margin-top: 64px;
  background: var(--gray-color);
  padding: 24px 16px;
}

@media screen and (min-width: 500px) {
  .about_info_body {
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media screen and (min-width: 1080px) {
  .about_info_body {
    padding-right: 183px;
    padding-left: 183px;
  }
}

.about_info-table_row:not(:first-child) .about_info-table_heading {
  padding-top: 16px;
}

.about_info-table_row:not(:first-child) .about_info-table_data {
  padding-top: 16px;
}

.about_info-table_heading {
  font-weight: bold;
  white-space: nowrap;
  padding-right: 8px;
  width: 80px;
  height: 64px;
  vertical-align: middle;
  position: relative;
  box-sizing: content-box;
}

.about_info-table_heading::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 64px;
  width: 2px;
  background: var(--primary-color);
}

.about_info-table_data {
  font-weight: bold;
  word-break: break-all;
  padding-left: 24px;
  box-sizing: content-box;
  vertical-align: middle;
}

/*---------- case ----------*/
.case_main {
  padding-bottom: 120px;
}

@media screen and (min-width: 768px) {
  .case_unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.case_unit:not(:first-child) {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .case_unit:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

.case_unit_img-wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {
  .case_unit_img-wrapper {
    width: 42%;
    order: 2;
  }
}

.case_unit_img-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: var(--z-index-back);
  background-image: linear-gradient(
    0,
    var(--accent-color),
    var(--primary-color)
  );
}

@media screen and (min-width: 768px) {
  .case_unit_img-wrapper::before {
    top: 24px;
    left: 24px;
  }
}

.case_unit:nth-child(2n) .case_unit_img-wrapper::before {
  top: 10px;
  left: -10px;
}

@media screen and (min-width: 768px) {
  .case_unit:nth-child(2n) .case_unit_img-wrapper::before {
    top: 20px;
    left: -20px;
  }
}

.case_unit_txts {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .case_unit_txts {
    margin-top: 0;
    width: 50%;
  }
}

.case_unit_num {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .case_unit_num {
    font-size: 64px;
  }
}

.case_unit_heading {
  font-size: 22px;
  font-weight: bold;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .case_unit_heading {
    font-size: 24px;
  }
}

.case_unit_desc {
  margin-top: 24px;
}

/*---------- contact ----------*/

.contact_main {
  background: var(--gray-color);
  padding-bottom: 120px;
}

.contact_form_heading {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_form_heading:not(:first-child) {
  margin-top: 64px;
}

.contact_form_required {
  color: var(--white-color);
  font-size: 12px;
  font-weight: bold;
  width: 48px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    0,
    var(--accent-color),
    var(--primary-color)
  );
  border-radius: 100vh;
}

.contact_form_detail {
  margin-top: 8px;
}

.contact_form_detail__other {
  margin-top: 24px;
}

.contact_form_input {
  font-size: 16px;
  width: 100%;
  height: 48px;
  padding: 8px;
  border: 1px solid var(--gray-color02);
  background: var(--white-color);
}

.contact_form_example-wrapper {
  text-align: right;
  height: 28px;
  margin-top: 8px;
}

.contact_form_example {
  color: var(--gray-color04);
  font-size: 14px;
}

.contact_form_check-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact_form_check-item {
  background: var(--gray-color03);
}

.contact_form_request-item-inner {
  height: 48px;
  padding: 8px;
  display: flex;
  cursor: pointer;
}

.contact_form_checkbox {
  width: 24px;
  height: 24px;
  margin-top: 4px;
  flex-shrink: 0;
  background: var(--white-color);
  border: 1px solid var(--gray-color02);
  appearance: checkbox;
}

.contact_form_request-txt {
  margin-left: 16px;
}

.contact_form_textarea {
  font-size: 16px;
  width: 100%;
  height: 240px;
  padding: 8px;
  border: 1px solid var(--gray-color02);
  background: var(--white-color);
}

.contact_form_btn-wrapper {
  margin-top: 64px;
}

/* ---------- js ---------- */
.js_body.is_hidden {
  overflow: hidden;
}

.js_hamburger-bar {
  transition: top 0.24s, transform 0.24s, opacity 0.24s;
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  transform: translate(50%, -50%);
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-135deg);
}

.js_copy,
.js_sub-copy {
  overflow: hidden;
}

.js_nav {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.24s;
}

@media screen and (min-width: 1080px) {
  .js_nav {
    opacity: 1;
    pointer-events: auto;
  }
}

.js_nav.is-active {
  opacity: 1;
  pointer-events: auto;
}

.js_faq_mark::after {
  transition: opacity 0.24s;
}

.js_faq_mark.is-open::after {
  opacity: 0;
}

.js_faq-a {
  height: 0;
  opacity: 0;
}

.js_h-slide_trigger {
  overflow: hidden;
}
