@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --white-color: #fff;
  --black-color: #2b0000;
  --primary-color: #ead6d6;
  --accent-color: #977777;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 936px;
  --content-width-lg: 1080px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-page-top: 50;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

body {
  color: var(--black-color);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.1em;
}
.body.active {
  overflow: hidden;
}

/* ---------- layout ---------- */
.l_container-sm,
.l_container-lg,
.l_container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 120px 0;
}

.l_page-main {
  padding-top: 120px;
}
/* 
.l_header {
  width: 100%;
  height: 80px;
  padding: 0 24px;
  display: flex;
  justify-content: right;
  align-items: center;
} */

.l_header {
  width: 100%;
  height: 80px;
}

.l_header__inner {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: right;
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

@media screen and (min-width: 1080px) {
  .l_header {
    padding: 0 56px;
  }
  .l_header__inner {
    position: static;
  }
}

.l_header-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #edd9ce;
  transition: ease 0.4s;
}

@media screen and (min-width: 1080px) {
  .l_header-nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
  }
}

.l_header-nav_list {
  display: flex;
  gap: 56px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (min-width: 1080px) {
  .l_header-nav_list {
    height: auto;
    flex-direction: row;
  }
}

.l_header-nav_item {
  font-size: 14px;
}

.l_header-nav_link {
  display: block;
}

.l_footer {
  padding: 15px 0;
  background-color: var(--primary-color);
}

/*---------- module ----------*/

.m_section_ttl {
  font-size: 30px;
  position: relative;
}
.m_section_ttl::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: calc(100% - 140px);
  background: var(--primary-color);
}

/* ハンバーガー */

.header__hamburger {
  width: 40px;
  height: 100%;
}

.m_hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

@media screen and (min-width: 1080px) {
  .m_hamburger {
    display: none;
  }
}
/* ハンバーガーメニューの線 */
.m_hamburger span {
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  position: relative;
  transition: ease 0.4s;
  display: block;
}

.m_hamburger span:nth-child(1) {
  top: 0;
}

.m_hamburger span:nth-child(2) {
  margin: 10px 0;
}

.m_hamburger span:nth-child(3) {
  top: 0;
}

.m_btn {
  margin-top: 40px;
  text-align: right;
}

/* .m_btn::after {
  content: "";
  display: inline-block;
  background-image: url(../img/top.PNG);
  background-repeat: no-repeat;
  width: 60px;
  height: 67px;
  margin-right: -5px;
} */

.m_btn-link {
  background: linear-gradient(
    transparent 10%,
    #f3e0c5 10%,
    #d9c7ad 80%,
    #f3d3c5 100%
  );
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* --------- kv ----------- */

.kv {
  background: linear-gradient(
      rgba(232, 232, 232, 0.5),
      rgba(232, 232, 232, 0.5)
    ),
    url(../img/kv.jpg) center top 40% / cover;
  height: calc(100vh - 80px);
}

/* ---------- js ---------- */
.m_hamburger.active span {
  background-color: #a3756c;
}

.l_header-nav.active {
  transform: translateX(0);
}

.m_hamburger.active span:nth-child(1) {
  top: 7px;
  transform: rotate(45deg);
}

.m_hamburger.active span:nth-child(2) {
  opacity: 0;
}

.m_hamburger.active span:nth-child(3) {
  top: -16px;
  transform: rotate(-45deg);
}

/* .js_nav {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.24s;
}

@media screen and (min-width: 1080px) {
  .js_nav {
    opacity: 1;
    pointer-events: auto;
  }
}

.js_nav.active {
  opacity: 1;
  pointer-events: auto;
} */

.js_faq_mark::after {
  transition: opacity 0.24s;
}

.js_faq_mark.is-open::after {
  opacity: 0;
}

.js_faq-a {
  height: 0;
  opacity: 0;
}

.js_h-slide_trigger {
  overflow: hidden;
}

/* ---------- about ---------- */

.top_about-txt_wrapper {
  margin-left: 20px;
}

.top_about-name_sub {
  margin-top: 20px;
}
.top_about-name::before {
  display: block;
  content: "うちだ　ゆか";
  color: var(--accent-color);
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 0.3em;
}

.top_about-contents {
  display: flex;
  margin-top: 40px;
}

.top_about-img {
  width: 250px;
}

.top_about-txt {
  display: flex; /*横並び*/
  flex-wrap: wrap; /*折り返し*/
}
.top_about-txt dt,
.top_about-txt dd {
  padding: 6px;
}
.top_about-txt dt {
  width: 15%;
}
.top_about-txt dd {
  margin-left: 0; /*初期値リセット*/
  width: 85%;
}

/* ---------- skill ---------- */
.top_skill-contents_items {
  width: 30%;
}
.top_skill-img_wrapper__html_css {
  width: 150px;
  display: flex;
  margin: auto;
}
.top_skill-ttl {
  text-align: center;
}
.top_skill-img_wrapper {
  width: 75px;
  margin: 0 auto;
}

.top_skill-img {
  width: 75px;
  height: auto;
}

.top_skill-contents {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex: 0 0 30%;
}

@media screen and (max-width: 768px) {
  .top_skill-contents {
    flex-direction: column;
    align-items: center;
  }
}

.top_skill-txt {
  margin-top: 20px;
}

/* ---------- contact ---------- */

.top_contact_form {
  width: 70%;
  margin: 80px auto 0 auto;
}
.top_contact_form_heading {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.top_contact_form_heading:not(:first-child) {
  padding-top: 50px;
}

.top_contact_form_input {
  width: 100%;
  background: var(--primary-color);
  padding: 10px;
  margin-top: 10px;
}

.top_contact_form_textarea {
  width: 100%;
  background: #fff;
  padding: 40px;
  margin-top: 10px;
  background: var(--primary-color);
}

.top_btn {
  margin-top: 60px;
  text-align: center;
}

.top_btn-link {
  display: inline-block;
  padding: 14px 32px;
  border: 1px solid #dbaf89;
  border-radius: 28px;
  font-weight: bold;
  background: #fff;
}

.footer-copyright {
  text-align: center;
}
