@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --white-color: #fff;
  --black-color: #0e0f2f;
  --accent-color: #ffad62;
  --primary-color: #2d8fe9;
}

/* ---------- base ---------- */
body {
  color: var(--black-color);
  font-size: 16px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: lighter;
  line-height: 1.8;
  letter-spacing: 0.2em;
}

.body.active {
  overflow: hidden;
}

/* ---------- layout ---------- */

.l_container-sm,
.l_container-lg {
  width: 100%;
  margin: 0 auto;
}

.l_contents {
  padding: 100px 16px;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .l_contents {
    padding: 130px 15%;
  }
}

.l_footer {
  line-height: 20px;
  text-align: center;
  background: var(--primary-color);
  color: var(--white-color);
  border-top: 2px solid var(--white-color);
}

/* ---------- module ---------- */

.m_section-ttl {
  font-size: 20px;
  position: relative;
  margin-bottom: 76px;
  text-align: left;
  padding-left: 47px;
}

@media screen and (min-width: 1080px) {
  .m_section-ttl {
    font-size: 48px;
    padding: 0;
  }
}

.m_section-ttl.skill_ttl {
  text-align: right;
  padding-right: 47px;
}
.m_section-ttl.contact_ttl {
  text-align: center;
  padding: 0;
}

.m_section-ttl::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 0.6px;
  width: 160px;
  background: var(--accent-color);
}

@media screen and (min-width: 1080px) {
  .m_section-ttl::before {
    width: 600px;
  }
}

.m_section-ttl.skill_ttl::before {
  left: 0;
}

.m_section-ttl.contact_ttl::before {
  width: 100px;
}

@media screen and (min-width: 1080px) {
  .m_section-ttl.contact_ttl::before {
    width: 240px;
  }
}

.m_section-ttl.contact_ttl::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 0.6px;
  width: 100px;
  background: var(--accent-color);
}

@media screen and (min-width: 1080px) {
  .m_section-ttl.contact_ttl::after {
    width: 240px;
  }
}

.m_button a {
  background: rgba(45, 143, 233, 0.5);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.m_button a::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 100%;
  height: 100%;
  border: 0.8px solid var(--primary-color);
  transition: 0.2s;
}

.m_button a::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  transform: rotate(45deg);
}

.m_button a:hover::before {
  top: 0;
  left: 0;
}

.m_button a:hover {
  text-decoration: none;
  background-color: #b3d9ff;
}

/* ---------- kv ---------- */

.top_kv {
  height: 85vh;
  background: linear-gradient(rgba(77, 109, 123, 0.5), rgba(77, 109, 123, 0.5)),
    url(../img/kv_sp.JPG) center top 70px / cover;
  margin-bottom: 80px;
}
@media screen and (min-width: 1080px) {
  .top_kv {
    height: calc(100vh - 72px);
  }
}

.top {
  padding: 0 40px;
}

@media screen and (min-width: 1080px) {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
  }
}

.top-nav_list {
  display: none;
}

@media screen and (min-width: 1080px) {
  .top-nav_list {
    display: flex;
  }
}

.top-nav_link {
  margin-left: 40px;
}

/* ---------- mission ---------- */

.top_mission-subttl {
  text-align: center;
  font-weight: bold;
  margin-bottom: 48px;
}

.top_mission-txt {
  margin-bottom: 20px;
}

/* ---------- about ---------- */

.m_section-ttl.sub_ttl {
  text-align: center;
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
}

.m_section-ttl.sub_ttl::before {
  width: 64px;
  background: var(--primary-color);
}

@media screen and (min-width: 1080px) {
  .m_section-ttl.sub_ttl::before {
    width: 196px;
  }
}
.m_section-ttl.sub_ttl::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 0.6px;
  width: 64px;
  background: var(--primary-color);
}

@media screen and (min-width: 1080px) {
  .m_section-ttl.sub_ttl::after {
    width: 196px;
  }
}

/* ---------- skill ---------- */

.top_skill-box {
  display: flex;
  gap: 40px;
  margin-top: 80px;
}

.top_skill-box:nth-child(2n) {
  flex-direction: row-reverse;
}

.top_skill-img {
  width: 240px;
  height: 240px;
  background-color: #ccc;
}

h4 {
  font-size: 40px;
  border-bottom: 0.8px solid var(--primary-color);
  text-align: start;
}

.right {
  text-align: right;
}

/* 文字がふわっと上に */
.scroll_up {
  transition: 1s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}
.scroll_up.on {
  transform: translateY(0);
  opacity: 1;
}
